/* styles.css */
body {
    background-image: url("1.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.background {
    background-color: #222;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

.screenTv {
    position: relative;
    width: 900px;
    height: 600px;
    background-color: #000;
    border: 15px solid #8b4513; /* Simula el marco de madera de una TV antigua */
    border-radius: 20px;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.8), 0 15px 50px rgba(0, 0, 0, 0.5);
}

#screen {
    display: block;
    margin: auto;
    border-radius: 5px;
    background-color: #222;
    width: 100%;
    height: 100%;
    image-rendering: pixelated; /* Para simular los gráficos de píxeles */
}

.rom-reader {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

#rom-input {
    appearance: none; /* Elimina el estilo por defecto del input */
    padding: 10px 20px;
    border: 2px solid #8b4513;
    border-radius: 5px;
    background-color: #ccc; /* Color claro como el de la consola NES */
    color: #000; /* Texto negro para contraste */
    font-weight: bold;
    font-size: 16px; /* Tamaño de fuente más grande */
    cursor: pointer;
    position: relative;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.6); /* Simula el borde de la consola */
    transition: background-color 0.3s, box-shadow 0.3s; /* Transiciones suaves */
}

/* Efecto al pasar el mouse */
#rom-input:hover {
    background-color: #999; /* Color más oscuro en hover */
    box-shadow: inset 0 -2px 0 rgba(255, 255, 255, 0.3), 0 5px 15px rgba(0, 0, 0, 0.5);
}

/* Efecto al hacer clic */
#rom-input:active {
    background-color: #888; /* Color aún más oscuro en clic */
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.3), 0 5px 15px rgba(0, 0, 0, 0.3);
}